body {
    margin: 60px auto;
    width: 80%;
}

header ul {
    float: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li, header ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
a {
    color: #232527;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: background .2s ease-out, color .2s ease-out;
    -moz-transition: background .2s ease-out, color .2s ease-out;
    -ms-transition: background .2s ease-out, color .2s ease-out;
    -o-transition: background .2s ease-out, color .2s ease-out;
    transition: background .2s ease-out, color .2s ease-out
}
a:hover {
    color: green;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
